
.set1{
    background-color: rgb(253, 244, 220);
}

.set5{
    background-color: rgb(253, 244, 220);
}

.set6{
    background-color: rgb(253, 244, 220);
}

.set7{
    background-color: rgb(253, 244, 220);
}