@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  font-family: "Quicksand";
}
.home{
  margin-left: 240px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f7E7CE;
}

.aboutP {
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f7E7CE;
}

.contactP {
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


.pastries{
  margin-left: 230px;
  padding-top: 10px;
  text-align: center;
}

.navbarTitle {
  display: flex;
  flex-direction: row;
}

.navbar {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #D9AE80;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 210px;
  height: 100%;
}

.navbar .footer p{
  font-size: large;
}

.navbar .footer{
  position: absolute;
  bottom: 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}


.navbar a:hover, a:active { 
  text-decoration: none; 
  color:white; 
}